<div class="landing-page" id="page-top">
  <div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar" ></span>
            <span class="icon-bar" ></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="page-scroll" href="#page-top">Home</a></li>
            <li><a class="" routerLink="login">Login</a></li>
            <li><a class="page-scroll" href="#about-us">About Us</a></li>
            <li><a class="page-scroll" href="#contact">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#inSlider" data-slide-to="0" class="active" ></li>
      <li data-target="#inSlider" data-slide-to="1" ></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="container">
          <div class="carousel-caption">
            <h1>We create<br/>
              Smart API's<br/>
              to provide exposure<br/>
              and exploration to your<br/>
              business</h1>
          </div>
          <div class="carousel-image wow zoomIn">
            <img src="../../../assets/img/landing/laptop.png" alt="laptop"/>
          </div>
        </div>
        <div class="header-back one" ></div>

      </div>
      <div class="item">
        <div class="container">
          <div class="carousel-caption blank">
            <h1>Your one window <br/> Open API solution</h1>
          </div>
        </div>
        <div class="header-back two" ></div>
      </div>
    </div>
    <a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" ></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" ></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <section id="features" class="container services">
    <div class="row">
      <div class="col-sm-3">
        <h2>Develop</h2>
        <p>Develop various categories and versions of API's using friendly developer portal.</p>
      </div>
      <div class="col-sm-3">
        <h2>Demonstrate</h2>
        <p>Demonstrate your API's to consumers over consumer portal </p>
      </div>
      <div class="col-sm-3">
        <h2>Integrate</h2>
        <p>Integrate and test API's at SIT sandbox.</p>
      </div>
      <div class="col-sm-3">
        <h2>Utilize</h2>
        <p>Promote your integration to production and enjoy 24/7 API availability.</p>
      </div>
    </div>
  </section>

  <section id="about-us" class="container features">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="navy-line" ></div>
        <h1>Leading the marketplace in products, services, solutions</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center wow fadeInLeft">
        <p>Building on over 18 years of experience, Avanza serves 300+ clients in more than 45 countries.

          Avanza has over 500+ product deployments processing over 12 million transactions every day on 9000 terminals, backed by a team of 300 expert resources worldwide.

          Avanza serves clients worldwide, cutting a cross-section of industries, with the specific concentration in the financial and government sectors. Our business philosophy is founded on the importance of relationships and a persistent search for greater accomplishments.
        </p>
      </div>
    </div>
  </section>

  <section id="contact" class="gray-section contact">
    <div class="container">
      <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
          <div class="navy-line" ></div>
          <h1>Contact Us</h1>
        </div>
      </div>
      <div class="row m-b-lg">
        <div class="col-lg-3 col-lg-offset-3">
          <address>
            <strong><span class="navy">Avanza Solutions Private Limited</span></strong><br/>
            Suite 14B, 14th Floor<br/>
            Fakri Trade Center<br/>
            Karachi, Pakistan<br/>
            <abbr title="Phone">P:</abbr> (+92) 111-AVANZA
          </address>
        </div>
        <div class="col-lg-4">
          <p class="text-color">
            We believe that a company is as good as its people. That is why we employ the best professionals in the industry. We have over 350+ employees worldwide and continue to expand on a quarterly basis.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <a href="mailto:info@avanzasolutions.com" class="btn btn-primary">Send us mail</a>
          <p class="m-t-sm">
            Or follow us on social platform
          </p>
          <ul class="list-inline social-icon">
            <li><a href="#"><i class="fa fa-twitter" ></i></a>
            </li>
            <li><a href="#"><i class="fa fa-facebook" ></i></a>
            </li>
            <li><a href="#"><i class="fa fa-linkedin" ></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
          <p><strong>&copy; 2019 Avanza Solutions</strong><br/> All rights reserved</p>
        </div>
      </div>
    </div>
  </section>
</div>
