<div class="middle-box text-center loginscreen animated fadeInDown">
  <div>
    <div>
      <img src="../../../assets/img/maverick-login-logo.png"/>
    </div>
    <p>Login in. To see it in action.</p>

    <app-dynamic-form [fields]="formConfig" (submit)="submit($event)">
    </app-dynamic-form>

    <a>
      <small> {{ 'ForgotPassword' | translate }}</small>
    </a>

    <div class="m-t">
      <p>
        <img src="../../../assets/img/avanza_logo.png"/>
      </p>
    </div>
    <small>Copyright &copy; {{getCurrentYear()}}</small>
  </div>
</div>
